


/********************************  Inicio Botao */

.btn-laranja {
  font-size: 0.8rem;
  font-weight: 400;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  background-color: #fb8500;
  border-color: #fb8500;
  color: "#1D3557";
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  transition: color 0.35s ease-in-out, background-color 0.35s ease-in-out,
    border-color 0.35s ease-in-out, box-shadow 0.35s ease-in-out;
}

.btn-laranja:hover {
  background-color: #1d3557;
  border-color: #fb8500;
  color: #f1faee;
}

.btn-laranja2 {
  font-size: 0.8rem;
  font-weight: 400;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  background-color: #fb8500;
  border-color: #fb8500;
  color: "#1D3557";
  margin-top: 20px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  transition: color 0.35s ease-in-out, background-color 0.35s ease-in-out,
    border-color 0.35s ease-in-out, box-shadow 0.35s ease-in-out;
}

.btn-laranja2:hover {
  background-color: #1d3557;
  border-color: #fb8500;
  color: #f1faee;
}
/********************************  Fim botão */

/*********************** Inicio CARD PRODUTO */

.card-produto {
  margin: 5px;
  /* background-color: #f1faee; */
  width: 15rem;
  height: 350px;
  align-items: center;
  justify-content: end;
  margin-top: 20px;
  padding-top: 120px;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.card-produto-titulo {
  color: #1d3557;
  font-size: 1em;
}

.image-card {
  transition: transform 0.2s; /* Animação imagem */

  max-height: 150px;
  min-width: auto;
  height: auto;
  image-rendering: optimizeSpeed;
  max-width: 100%;
  object-fit: contain;
}

.image-card:hover {
  transform: scale(1.3);
}

/*************************** Fim CARD PRODUTO */

/*************************** Inicio CarouselImagem */

.carousel-container {
  width: 100%;
  object-fit: cover;
  margin: auto;
  overflow: hidden;
}
.carousel-image {
  height: auto;
  width: 1250px;
}

/************************** Fim CarouselImagem*/

/*************************** Inicio FOOTER */

.line {
  border: 1px gray solid;
  opacity: 30%;
  margin-top: 20px;
}
.line2 {
  border: 1px gray solid;
  opacity: 30%;
  margin-top: 10px;
}

.footer {
  flex: 1;
  height: 80px;
  width: 800px;
  align-items: center;
  color: #1d3557;
  border-radius: 15px;
  margin-top: 30px;
}

.itemFooter {
  align-content: center;
  flex: 1;
  width: 100%;
  border: 1px solid #f1faee;
  border-radius: 15px;
  margin: 0, 5px, 0, 5px;
  margin-left: 20px;
  margin-right: 20px;
  border-color: #f1faee;
  height: 80px;
  text-align: center;
  box-shadow: rgba(144, 144, 172, 0.25) 0px 6px 12px -2px,
    rgba(93, 12, 12, 0.3) 0px 3px 7px -3px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 0.9rem;
}

.iconFooter {
  margin-right: 15px;
}

.copyrgt {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: #1d3557;
  font-size: 0.7rem;
  margin-top: 20px;
}

/*************************** Fim FOOTER */

/*************************** Inicio DESCRICAO PRODUTO */

.conteinerProd {
  margin-top: 5px;
  margin-left: 20px;
  margin-right: 20px;
  margin-bottom: 20px;

  width: 700px;
}

.ConteinerCardDesc {
  margin-top: 0px;
}

.image-card2 {
  transition: transform 0.2s; /* Animação imagem */

  max-height: 450px;
  min-width: auto;
  height: auto;
  image-rendering: optimizeSpeed;
  max-width: 100%;
  object-fit: contain;
}

.image-card2:hover {
  transform: scale(1.2);
}

.cardTitulo {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: 600;
  font-size: 30px;
  color: #1d3557;
}

.cardCat {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: gray;
  font-size: 12px;
}

.cardDescr {
  color: #1d3557;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 15px;
  text-align: justify;
  margin-top: 15px;
}

.cardPreco {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: #fb8500;
  font-size: 15px;
  font-weight: 600;
  text-align: justify;
  margin-top: 15px;
}

/************************** Fim DESCRICAO PRODUTO*/
