.conteiner{
    flex: 1;
    width: 1800px;
    margin-top: 120px;
}

.row-carrossel{
    /* margin-top: 20px;
    height: 350px;
    background-color: aquamarine; */

}   

.row-itens{
    margin-left: 15px;
    
}

/*************************** inicio FOOTER*/

.footer{
    flex: 1;
    height: 50px;
    background-color: rgb(127, 157, 255);
    width: 800px;
     align-items: center;
    
  }
  
  
  /*************************** fim FOOTER*/


/*************************** inicio PERFIL*/

.profile{
    border: 0.5px solid lightgray;
    padding: 10px;
    width: 50vw;
    border-radius: 12px;

}
.label-profile{
    font-size: 1.5rem;
   
}

.div-profile{
    border: 0.2px solid;
}
/*************************** fim PERFIL*/